# Python bytecode and optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
ENV/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution and packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
wheels/

# Logs and temporary files
*.log
*.tmp

# IDE and editor settings
.vscode/
.idea/

# Testing and coverage
.tox/
.coverage
.coverage.*
.pytest_cache/

# Data Science artifacts
*.csv
*.xls
*.xlsx
*.json
*.parquet

# System files
.DS_Store
Thumbs.db

# Machine Learning artifacts
*.model
*.h5
cython_debug/

# Linter and type checker
.ruff_cache/
.mypy_cache/

# Sensitive configuration files
.pdm.toml
.pypirc
.env
